
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 222 47% 5%;
    --foreground: 210 40% 98%;

    --card: 222 47% 7%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 5%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 195 83% 55%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 27% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 262 83% 68%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 73% 45%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 210 40% 80%;
    
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 224 76% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 240 5% 96%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 217 91% 60%;
  }

  :root {
    color-scheme: dark;
  }
}
